.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e03939;
  padding: 15px 30px;
}

.active {
  font-style: italic;
}

.header {
  display: flex;
  text-align: center;
  background-color: #e03939;
  padding: 15px 30px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #e03939;
  color: white;
  text-align: center;
}

.header {
  margin: 0;
  padding: 20px;
  font-size: 2rem;
}

.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
  background-color: #c92f2f;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

.content {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

.footer {
  text-align: center;
  padding: 15px;
  background-color: #e03939;
  color: white;
  margin-top: 40px;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  align-items: center;
}

.info .text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.info h3,
.info p {
  margin: 0;
}

.description-preview {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
